#choice-boxes {
    display: flex;
    justify-content: space-evenly;
}

.choice {
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}

.choice:hover {
    margin: 0px;
    border: 5px solid black;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25vh 25vh 25vh;

    text-align: center;
}

.results {
    grid-row-start: 3;
    grid-row-end: 4;

    /*
        margin: 0;
        position: ;
        top: 50%;
        left: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
*/
}